<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Informacije o našoj bolnici</title>
    <style type="text/css">
        .auto-style1 {
            text-align: center;
            font-family: "Microsoft JhengHei UI";
        }

        .auto-style2 {
            text-align: center;
        }
    </style>
</head>

<body>

    <p class="auto-style1"><em>Informacije o našoj bolnici</em></p>
    <p>Kontakt telefon: 123 456</p>
    <p>Naši doktori i odjeli u kojima oni su specijalizirali:</p>
    <form method="post">
        <div class="auto-style2">
            <textarea name="TextArea1" style="width: 1005px; height: 495px"></textarea>
        </div>
    </form>

</body>

</html>
