@model HospitalisOOAD.Models.Pregled

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_Layout3";
}


<h2 style="height: 30px;"></h2>

<h4 align="center" style="background-color: #4ac5ce; font-size: xx-large;">ZAKAZIVANJE/OTKAZIVANJE PREGLEDA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">

                <input type="hidden" asp-for="termin" class="form-control" />
                <span asp-validation-for="termin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zauzet" class="control-label"></label>
                <select asp-for="zauzet" class="form-control"><option>dostupan</option><option style="background-color: #4ac5ce">zauzet</option><option style="background-color: orange">otkazan</option></select>
            </div>

            <div class="form-group">

                <select style="visibility: hidden;" asp-for="KorisnikId" class="form-control" asp-items="ViewBag.KorisnikId"></select>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="prezime" class="form-control" />
                <span asp-validation-for="prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <text style="background-color: orange; font-weight: bold;">Molimo doktore da ne zaborave napisati obavještenje u slučaju otkazivanja pregleda!</text>
            </div>
            <div class="form-group">
                <input type="submit" value="Zabilježite" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Povratak na listu</a>
</div>


