<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link href="pocetnaStr.css" rel="stylesheet" type="text/css" media="all" />
    <title>Početna stranica</title>
    <style type="text/css">
        .auto-style1 {
            text-align: left;
        }
    </style>
</head>

<body>

    <div id="header-wrapper">
        <div id="header" class="container" style="width: 1018px; height: 489px">
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="#" accesskey="1" title="">Početna stranica</a></li>
                    <li><a href="#" accesskey="2" title="">O našoj bolnici</a></li>
                    <li><a href="#" accesskey="5" title="">Kontaktirajte nas</a></li>
                    <li><a href="#" accesskey="3" title="">Registrujte se</a></li>
                    <li><a href="#" accesskey="4" title="">Prijavite se</a></li>

                </ul>
            </div>
            <div id="logo">
                <h1><a href="#">Hospitalis</a></h1>
            </div>
        </div>
    </div>
</body>

</html>
