@model HospitalisOOAD.Models.Obavjestenje

@{
    ViewData["Title"] = "Delete";
}
@{
    Layout = "_Layout3";
}


<h2 style="height: 30px;"></h2>

<h3>Jeste li sigurni da želite obrisati?</h3>
<div>
    <h4>Obavjestenje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tekst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tekst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vrijemeObjave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vrijemeObjave)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Povratak u listu</a>
    </form>
</div>
