@model HospitalisOOAD.Models.Pacijent

@{
    ViewData["Title"] = "Create";
}

<h2 style="height: 30px;"></h2>

<h4 align="center" style="background-color: #4ac5ce; font-size: xx-large;">Kreiranje računa pacijenta</h4>
<hr />
@if (ViewBag.Message != null)
{
    <h2>
        @ViewBag.Message
    </h2>
}
<div align="center" class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="ime" class="control-label"></label>
                <input asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="prezime" class="control-label"></label>
                <input asp-for="prezime" class="form-control" />
                <span asp-validation-for="prezime" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="kontaktTelefon" class="control-label"></label>
                <input asp-for="kontaktTelefon" class="form-control" />
                <span asp-validation-for="kontaktTelefon" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="username" class="control-label">Korisničko ime<br />(po mogućnosti u obliku: ime prezime)</label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="passwordHash" class="control-label"></label>
                <input asp-for="passwordHash" class="form-control" />
                <span asp-validation-for="passwordHash" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="confirmPassword" class="control-label"></label>
                <input asp-for="confirmPassword" class="form-control" />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="spol" class="control-label"></label>
                <select asp-for="spol" class="form-control"><option style="background-color: aquamarine;">M</option><option style="background-color: blanchedalmond;">Ž</option></select>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="jmbg" class="control-label"></label>
                <input asp-for="jmbg" class="form-control" />
                <span asp-validation-for="jmbg" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="datumRodjenja" class="control-label"></label>
                <input asp-for="datumRodjenja" type="date" class="form-control" />
                <span asp-validation-for="datumRodjenja" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="adresaPrebivalista" class="control-label"></label>
                <input asp-for="adresaPrebivalista" class="form-control" />
                <span asp-validation-for="adresaPrebivalista" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="gradRodjenja" class="control-label"></label>
                <input asp-for="gradRodjenja" class="form-control" />
                <span asp-validation-for="gradRodjenja" class="text-danger"></span>
            </div>
            <div style="background-color: #4ac5ce;" class="form-group">
                <label asp-for="drzavaRodjenja" class="control-label"></label>
                <input asp-for="drzavaRodjenja" class="form-control" />
                <span asp-validation-for="drzavaRodjenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="background-color: #4ac5ce;" type="submit" value="Kreiraj račun" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


