@model HospitalisOOAD.Models.Izvjestaj

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_Layout2";
}

<h2 style="height: 30px;"></h2>

<h4>Izvještaj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="rezultatPregleda" class="control-label"></label>
                <input asp-for="rezultatPregleda" class="form-control" />
                <span asp-validation-for="rezultatPregleda" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="datumIzdavanja" class="control-label"></label>
                <input asp-for="datumIzdavanja" class="form-control" />
                <span asp-validation-for="datumIzdavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <select asp-for="KorisnikId" class="form-control" asp-items="ViewBag.KorisnikId"></select>
                <span asp-validation-for="KorisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Povratak u listu</a>
</div>

