@model HospitalisOOAD.Models.Anketa

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "_Layout1";
}

<h2 style="height: 30px;"></h2>

<h4 align="center" style="background-color: #4ac5ce; font-size: xx-large;">ANKETA</h4>
<text>Molimo Vas da ocijenite usluge: <br /> 1 - loše; <br /> 2 - sa mnogo nedostataka; <br /> 3 - prosječno; <br /> 4 - sa određenim propustima; <br /> 5 - odlično! </text>
<hr />
<div align="center" class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="background-color:#4ac5ce;" class="form-group">
                <label asp-for="ocjena1" class="control-label">U kolikoj mjeri se doktor odnosio prema Vama s ljubaznošću?</label>
                <select asp-for="ocjena1" class="form-control"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>
            </div>
            <div style="background-color:#4ac5ce;" class="form-group">
                <label asp-for="ocjena2" class="control-label">Ocijenite profesionalnost doktora tokom pregleda:</label>
                <select asp-for="ocjena2" class="form-control"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>
            </div>
            <div style="background-color:#4ac5ce;" class="form-group">
                <label asp-for="ocjena3" class="control-label">Koliko dobro opremljenom smatrate posjećenu ordinaciju?</label>
                <select asp-for="ocjena3" class="form-control"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>
            </div>
            <div style="background-color:#4ac5ce;" class="form-group">
                <label asp-for="ocjena4" class="control-label">Ocjena za cjelokupni utisak:</label>
                <select asp-for="ocjena4" class="form-control"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>
            </div>
            <div style="background-color:#4ac5ce;" class="form-group">
                <label asp-for="ocjena5" class="control-label">Koliko Vam je online usluga olakšala brigu o zdravlju?</label>
                <select asp-for="ocjena5" class="form-control"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>
            </div>
            <div style="background-color:#4ac5ce;" class="form-group">
                <label asp-for="doktorID" class="control-label">Doktor kod kog ste obavili pregled:</label>
                <select asp-for="doktorID" class="control-label"
                        asp-items="@(new SelectList(ViewBag.lista,"ID", "fullname"))"></select>
                <span asp-validation-for="konacnaOcjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="background-color:#4ac5ce;" type="submit" value="Predaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

